/control/dragndrop.o
/control/font.o
/control/selection.o
/icons.o
/util.o
/widget.o
/xfm
/xfm.o
/main.o
/src/dir.o
/src/drop.o
/src/icons.o
/src/thumb.o
/src/util.o
/src/widget.o
/contextmenu/menu.o
